<div class="container-md">
  <div class="post-title">
    <h3><%= @article.title %></h3>
    <%= link_to edit_article_path do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
    <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
  <p><%= @article.content %></p>
  <%= link_to 'back', articles_path %>
</div>