<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous791</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <nav class="nav-content">
        <%= link_to 'Wikinimous', articles_path %>
        <%= link_to 'New Article', new_article_path%>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
